.nav {
    display: flex;
    padding-left: 10em;
    align-items: center;
    height: 150px;
    width: 100%;
    color: black;
    font-size: 10px;
    background-color: #f1f6f9;
    border-bottom: 1px solid rgb(143, 179, 187);
    bottom: 70%;
    margin: 0 auto;
  }

.car {
  height: 7em;
  width: 7em;
}

h1 {
  font-size: 30px;
  padding-left: 30px;
  font-weight: 400;
}